@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
  --header-bg: #4b2cd8;
  --footer-bg: #0b1220;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}
